@charset "UTF-8";
/* CSS Stylers for the geofx-pages */
body {
   	margin: 0px;
  	padding: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size:110%;
    /*background-color: #FFEEFF; */

}

pre
{
    /* display:block; */

    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size:70%;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}


