@charset "UTF-8";
/* CSS Stylers for the geofx-pages */
body {
   	margin: 0px;
  	padding: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size:110%;
    /*background-color: #FFEEFF; */

}

h2
{
	
}

h3
{
	font-variant:small-caps
}
.textbox_div { 
	 margin:4em;
	 position: relative; 
	 top:2 em;
	 width:60%;
}

.text_div{ 
	 margin:2em;
	 position: relative; 
	 top:1 em;
	 width:80%;
}



.code-example    
{
	font-size: small;
	font-family: "Lucida Console", "Courier New", Courier, Monaco, monospace;
	background-color: #FFFFCC;
	border: solid 1px #000;
	border-collapse: collapse;
	border-spacing: 10 px;
	padding: 1em;
	margin-left: 2em;
}

.warning    
{
	font-size: 0.75em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFEEFF;
	margin: 4 em;
	border: solid 1px #000;
	border-collapse: collapse;
	border-spacing: 10 px;
	padding: 1em;
}

.summary tr {
	height:14px;
}

#normal_div { 
	 margin:3em;
	 position: relative; 
	 top:2em;
	 width:60em;
}

#textbox_div { 
	 margin:4em;
	 position: relative; 
	 top:2 em;
	 width:60%;
}

preBackground
	{
	display:block;
	background: #FFFFcc;
	border: solid 1px;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	border-color: rgb(204,204,204);
	font-size:90%;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}

pre
{
    display:block;

    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size:80%;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}

.note
	{
	display:block;
	background: rgb(255,235,255);
	border: solid 1px;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	border-color: rgb(204,204,204);
	font-size:90%;
	}
.symbol {
	font-family: "Times New Roman", Arial, Helvetica, sans-serif;
	font-size: 100%;
	display: inline;
}
	
.codeword {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 100%;
	font-weight:600;
}
	
p img .border
{
    border: 1px solid;
	border-color: rgb(204,204,204);
}


